
{% extends 'base.html' %}
{% block content %}
<body>
  {% include 'nav.html' %}

    

  <div class="guests_list">
    <h3>Guests</h3> 
    {% regroup guests_list by date as date_list %}
  
    {% for date in date_list %}
      <h3>{{ date.grouper }}</h3>
      <table>
        <tr class="table_head">
          <th>Name</th>
          <th>Time</th>
          <th>Persons</th>
        </tr>
        {% for guest in date.list %}
        <tr>
          <td>{{ guest.name }}</td>           
          <td>{{ guest.time }}</td>
          <td>{{ guest.num_guests }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endfor %}
  </div>
    </body>
    {% endblock %}
      
      