{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'nav.html' %}
    <section class="description">
        <h3>Here's what you've been waiting for</h3>
    </section>

    <section id="menu">
      <div class="drinks">
        <h3>Drinks</h3> 
        <table style="width:100%; max-width:1000px;">
          <tr class="table_head">
            <th>Item</th>
            <th>Description</th>
            <th>Price in €</th>
          </tr>
          {% for menu in menu_list %}
          {% if menu.catgory_id == 1 %}
          <tr>
            <td><strong>{{ menu.name }}</strong></td>
            <td>{{ menu.description }}</td>              
            <td>{{ menu.price }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table> 
      </div>
      
      
      <div class="starters">
        <h3>Starters</h3> 
        <table style="width:100%; max-width:1000px;">
          <tr class="table_head">
            <th>Item</th>
            <th>Description</th>
            <th>Price in €</th>
          </tr>
          {% for menu in menu_list %}
          {% if menu.catgory_id == 3 %}
          <tr>
            <td><strong>{{ menu.name }}</strong></td>
            <td>{{ menu.description }}</td>              
            <td>{{ menu.price }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table> 
      </div>

      <div class="pizze">
        <h3>Pizze</h3> 
        <table style="width:100%; max-width:1000px;">
          <tr class="table_head">
            <th>Item</th>
            <th>Description</th>
            <th>Price in €</th>
          </tr>
          {% for menu in menu_list %}
          {% if menu.catgory_id == 4 %}
          <tr>
            <td><strong>{{ menu.name }}</strong></td>
            <td>{{ menu.description }}</td>              
            <td>{{ menu.price }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table> 
      </div>
      
      <div class="desserts">
        <h3>Desserts</h3> 
        <table style="width: 100%; max-width: 1000px;">
          <tr class="table_head">
            <th>Item</th>
            <th>Description</th>
            <th>Price in €</th>
          </tr>
          {% for menu in menu_list %}
          {% if menu.catgory_id == 5 %}
          <tr>
            <td><strong>{{ menu.name }}</strong></td>
            <td>{{ menu.description }}</td>              
            <td>{{ menu.price }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table> 
      </div>
      <p><em>All the described meats and cheeses are vegan substitutes. So, no need to worry.<br>
        Come to our restaurant to see the variety of toppings you can choose from displayed.</em></p>
    </section>
  {% include 'footer.html' %}
</body>
{% endblock %}