{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  {% include 'nav.html' %}
    <section class="description">
        <h3>Here's what you've been waiting for</h3>
    </section>

    <section id="menu">
      {% for category in menu_categories %}
        <h3>{{ category.name }}</h3> 
        <table class="menu">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>€</th>
          </tr>
          {% for item in category.items.all %}
          
          <tr>
            <td><strong>{{ item.name }}</strong></td>
            <td>{{ item.description }}</td>              
            <td>{{ item.price }}</td>
          </tr>
         
        {% endfor %}
        </table> 

      
      
      {% endfor%}
      <p><em>All the described meats and cheeses are vegan substitutes. So, no need to worry.<br>
        Come to our restaurant to see the variety of toppings you can choose from displayed.</em></p>
        <div class="row">
          <div class="column">
            <figure>
              <img src="/static/images/python-pizza.jpg" alt="Python Pizza" style="width:100%">
              <figcaption>Python Pizza</figcaption>
            </figure>
          </div>
          <div class="column">
            <figure>
              <img src="/static/images/calzone.jpg" alt="Node.js Pizza" style="width:100%">
              <figcaption>Node.js Pizza</figcaption>
            </figure>
          </div>
          <div class="column">
            <figure>
              <img src="/static/images/volcano-pizza.jpeg" alt="Java Pizza" style="width:100%">
              <figcaption>Java Pizza</figcaption>
            </figure>
          </div>
        </div> 
    </section>
  {% include 'footer.html' %}
</body>
{% endblock %}